@model CommentCreateViewModel
<div class="ltn__comment-reply-area ltn__form-box mb-30">
    <form asp-action="comment" id="comment-form" method="post">
        <h4>Comment</h4>
        <div class="input-item input-item-textarea ltn__custom-icon">
            <textarea id="editor" asp-for="Text" id="message" cols="30" rows="10"
                      class="form-control"></textarea>
        </div>
        <input type="hidden" name="HouseId" value="@Model.HouseId" />
        <div class="btn-wrapper">
            <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">Submit</button>
        </div>
    </form>
</div>
@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/35.4.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
}
