@model WishListViewModel

<div class="ltn__utilize-menu-head">
    <span class="ltn__utilize-menu-title">Cart</span>
    <button class="ltn__utilize-close">×</button>
</div>
<div class="mini-cart-product-area ltn__scrollbar">
     @foreach (var item in Model.Items)
       {
    <div class="mini-cart-item clearfix">
        <div class="mini-cart-img">
                <a href="#"><img src="~/uploads/houses/@item.House.HouseImages.FirstOrDefault(x=>x.PosterStatus==true)?.Image" alt="Image"></a>
            <span class="mini-cart-item-delete"><i class="icon-cancel"></i></span>
        </div>
        <div class="mini-cart-info">
            <h6><a href="#">@item.House.Title</a></h6>
                <span class="mini-cart-quantity"><span class="qty">$@((item.House.SalePrice * (100 - item.House.DiscountPercent) / 100).ToString("0.00"))</span>
        </div>
    </div>
    }
</div>
<div class="mini-cart-footer">
    <div class="mini-cart-sub-total">
        <h5>Subtotal: <span> $@Model.TotalPrice.ToString("0.00")</span></h5>
    </div>
    <div class="btn-wrapper">
        <a href="~/order/checkout" class="theme-btn-2 btn btn-effect-2">Checkout</a>
    </div>
</div>
